absl-py
asgiref
asttokens
astunparse
backcall
cachetools
certifi
charset-normalizer
click
colorama
cycler
debugpy
decorator
entrypoints
executing
Flask
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter-client
jupyter-core
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
parso
pickleshare
Pillow
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pyzmq
requests
requests-oauthlib
rsa
six
sqlparse
stack-data
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tornado
traitlets==5.2.1.post0
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
zipp
